
    <footer class="bg-primary text-white pt-2 pb-2">
      <div class="row ms-5 me-5 text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <p class="h4">Make a Payment</p>
          <p class="h-5">For more information on making payments:</p>

          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select an Option
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Property Taxes</a></li>
              <li><a class="dropdown-item" href="#">Municipal Citations</a></li>
              <li><a class="dropdown-item" href="#">Parking Tickets</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <p class="h4">Find City Services</p>
          <p class="h-5">For more information on city services:</p>

          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select an Option
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Code Red</a></li>
              <li><a class="dropdown-item" href="#">Sewer Backup Assistance</a></li>
              <li><a class="dropdown-item" href="#">Business Services</a></li>
              <li><a class="dropdown-item" href="#">Household Hazardous Waste</a></li>
              <li><a class="dropdown-item" href="#">Recycling Information</a></li>
              <li><a class="dropdown-item" href="#">Trash/Recycling lookup</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <p class="h4">Send Us a Message</p>
          <p class="h-5">Select the link below to offer feedback:</p>

          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select an Option
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Ask an Officer</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><a class="dropdown-item" href="#">Parking Tickets</a></li>
              <li><a class="dropdown-item" href="#"></a>Contact the Mayor</li>
              <li><a class="dropdown-item" href="#"></a>Feedback for Police chief</li>
              <li><a class="dropdown-item" href="#"></a>Press Release Sign up</li>
              <li><a class="dropdown-item" href="#"></a>Report A Code Violiation</li>
              <li><a class="dropdown-item" href="#"></a>Report a Broaken Parking Meter</li>
              <li><a class="dropdown-item" href="#"></a>Report a Pothole</li>
              <li><a class="dropdown-item" href="#"></a>Report a Sidewalk Repair</li>
             <!-- <li><a class="dropdown-item" href="#"></a>Report a Streetlight <a></li> -->
            </ul> 
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <p class="h4">Get Social</p>
          <!-- Facebook -->
          <a style="color: white" href="#!" role="button">
            <i class="pe-3 bi bi-facebook"></i
          ></a>

          <!-- Twitter -->
          <a style="color: white" href="#!" role="button"
            ><i class="pe-3 bi bi-twitter"></i
          ></a>

          <!-- Google -->
          <a style="color: white" href="#!" role="button"
            ><i class="pe-3 bi bi-google"></i
          ></a>

          <!-- Instagram -->
          <a style="color: white" href="#!" role="button"
            ><i class="bi bi-instagram"></i
          ></a>
        </div>
      </div>
      <div class="row ms-5 me-5 pt-2 text-md-left">
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3">


        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <p class="fw-bold">City Hall</p>
          <p>730 Washington Avenue </br>
          Racine, Wisconsin 53403</br>
          Main Phone: (262) 636-9101</p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <p class="fw-bold">City Hall Annex</p>
          <p>800 Center Street </br>
          Racine, Wisconsin 53403</br>
          <a
                  href="/Departments/"
                  class="fw-normal text-light class="text-decoration-none" "
                  >Department Directory</a>

        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <div style="padding: 45px 0px 0px 0px">
              <div class="footer-logo"></div>
              <p class="copyright-para text-right">
                © City of Racine - Wisconsin - USA.<br />All Rights Reserved.<br />
                <a href="/PrivacyPolicy" class="text-light class="text-decoration-none"> Privacy Policy</a> |
                <a href="/TermsOfUse/" class="text-light class="text-decoration-none">Terms of Use</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
